[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "third_party/leveldb"]
	path = third_party/leveldb
	url = https://github.com/google/leveldb.git
	branch = main

[submodule "third_party/rocksdb"]
	path = third_party/rocksdb
	url = https://github.com/facebook/rocksdb.git
	branch = main
