[Unit]
Description=Neo Node Health Check Timer
Documentation=https://github.com/neo-project/neo-cpp

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target